
.header-link {
    color: #6666dc;
    cursor: pointer;
}

.header-link-active {
    color: red;
}

.pizza-orders-link, .pizza-cart-link, .pizza-create-link {
    margin-left: 10px;
}


.page-links {
    display: flex;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dede09;

}
