.cart-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pizza-cart > div {
    margin-top: 16px;
}

.create-order {
    margin-top: 24px;
}

.contact-input {
    margin-top: 20px;
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-input__label {
    margin-right: 10px;
}
